always-auth=true
nodedir=/usr/local

# authentification for azure-devops
registry=https://pkgs.dev.azure.com/schwarzit/_packaging/cake/npm/registry/
//pkgs.dev.azure.com/schwarzit/_packaging/cake/npm/registry/:username=ANYTHING-BUT-EMPTY
//pkgs.dev.azure.com/schwarzit/_packaging/cake/npm/registry/:_password=${AUTH_TOKEN}
//pkgs.dev.azure.com/schwarzit/_packaging/cake/npm/registry/:email=${AUTH_MAIL}
//pkgs.dev.azure.com/schwarzit/_packaging/cake/npm/registry/:always-auth=true

# authentification for schwarzit.jfrog
@scw:registry=https://schwarzit.jfrog.io/schwarzit/api/npm/xx-sit-chat-widget-npm-local/
//schwarzit.jfrog.io/schwarzit/api/npm/xx-sit-chat-widget-npm-local/:_password=${JFROG_AUTH_TOKEN}
//schwarzit.jfrog.io/schwarzit/api/npm/xx-sit-chat-widget-npm-local/:username=${JFROG_AUTH_USER}
//schwarzit.jfrog.io/schwarzit/api/npm/xx-sit-chat-widget-npm-local/:email=${JFROG_AUTH_MAIL}
//schwarzit.jfrog.io/schwarzit/api/npm/xx-sit-chat-widget-npm-local/:always-auth=true

#proxy-settings
proxy=${PROXY_URL}
https-proxy=${PROXY_URL}
